@use "common" as *;

button.pui-button, a.pui-button, input[type="submit"].pui-button {
	$corner-size: 30px;
	$border-color: var(--pui-color-surface);
	$border-color-active: var(--pui-color-active);
	$padding: 0.4em;

	@extend .pui-drop-shadow;
	@include hover-corner(before, top, left, $corner-size, $border-color, false);
	@include hover-corner(after, bottom, right, $corner-size, $border-color, false);
	
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-family: var(--pui-font-copy);
	color: var(--pui-color-text);
	background-color: var(--pui-color-highlight);
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	padding: $padding;
	min-width: 7em;
	border-radius: 0;
	border: $border-color 5px solid;

	transition:
		background-color var(--pui-duration-hover) linear,
		border-color var(--pui-duration-click) linear,
		box-shadow var(--pui-duration-click) ease-out;
	
	
	&:hover {
		background-color: var(--pui-color-highlight-light);
	}

	&:active {
		box-shadow: 0 0 0 0 #000;
		border-color: var(--pui-color-active);
		@include hover-corner(before, top, left, $corner-size, $border-color-active, false);
		@include hover-corner(after, bottom, right, $corner-size, $border-color-active, false);
	}

	&.pui-large {
		font-size: 1.4em;
	}
}
