@use "sass:math" as math;

@mixin hover-corner($slot, $posV, $posH, $size, $color) {
	$duration-hover: 0.3s;
	$duration-click: 0.1s;
	$offset: math.div($size, 3);
	$movement: math.div($offset, 4);
	$border-width: math.div($size, 2);

	position: relative;

	&::#{$slot} {
		transition: transform $duration-hover ease-out, border-color $duration-click linear;

		content: "";
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		#{$posV}: -$offset;
		#{$posH}: -$offset;
		border: transparent $border-width solid;
		border-#{$posV}: $color $border-width solid;
		border-#{$posH}: $color $border-width solid;
	}

	&:hover::#{$slot} {
		$translateX: $movement;
		$translateY: $movement;

		@if $posV == top {
			$translateY: -$movement;
		}
		@if $posH == left {
			$translateX: -$movement;
		}


		transform: translate($translateX, $translateY);
	}

	&:active::#{$slot} {
		$translateX: $movement;
		$translateY: $movement;

		@if $posV == bottom {
			$translateY: -$movement;
		}
		@if $posH == right {
			$translateX: -$movement;
		}
		
		transition-duration: $duration-click;
		transform: translate($translateX, $translateY);
	}
}
