@use "sass:math" as math;

@mixin clamp($posV, $posH, $movement) {
	$translateX: $movement;
	$translateY: $movement;

	@if $posV == bottom {	
		$translateY: -$movement;
	}
	@if $posH == right {
		$translateX: -$movement;
	}
	
	transition-duration: var(--pui-duration-click);
	transform: translate($translateX, $translateY);
}

@mixin hover-corner($slot, $posV, $posH, $size, $color, $clamp-on-focus) {
	$offset: 10px;
	$movement: 3px;
	$border-width: math.div($size, 2);

	position: relative;

	&::#{$slot} {
		@extends .pui-drop-shadow;

		transition: transform var(--pui-duration-hover) ease-out, border-color var(--pui-duration-click) linear;

		content: "";
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		#{$posV}: -$offset;
		#{$posH}: -$offset;
		border: transparent $border-width solid;
		border-#{$posV}: $color $border-width solid;
		border-#{$posH}: $color $border-width solid;
	}

	&:hover::#{$slot} {
		$translateX: $movement;
		$translateY: $movement;

		@if $posV == top {
			$translateY: -$movement;
		}
		@if $posH == left {
			$translateX: -$movement;
		}


		transform: translate($translateX, $translateY);
	}	

	&:active::#{$slot} {
		@include clamp($posV, $posH, $movement);
	}

	@if $clamp-on-focus {
		&:focus::#{$slot}, &:focus-within::#{$slot} {
			@include clamp($posV, $posH, $movement);
		}
	}
}

.pui-shadow {
	box-shadow: 0 0 6px 0 #000;
}

.pui-drop-shadow {
	filter: drop-shadow(0 0 6px #000);
}

@mixin smolder-glow($size) {
	$color: var(--pui-color-active);
	$blur-radius: 5px + $size * 15px;
	filter: drop-shadow(0 0 $blur-radius $color);
}

@keyframes smolder {
	0% { @include smolder-glow(0.5) }
	5% { @include smolder-glow(0.69) }
	10% { @include smolder-glow(0.35) }
	15% { @include smolder-glow(0.56) }
	20% { @include smolder-glow(0.8) }
	25% { @include smolder-glow(0.14) }
	30% { @include smolder-glow(0.28) }
	35% { @include smolder-glow(0.21) }
	40% { @include smolder-glow(0.84) }
	45% { @include smolder-glow(0.52) }
	50% { @include smolder-glow(0.93) }
	55% { @include smolder-glow(0.72) }
	60% { @include smolder-glow(0.99) }
	65% { @include smolder-glow(0.21) }
	70% { @include smolder-glow(0.26) }
	75% { @include smolder-glow(0.55) }
	80% { @include smolder-glow(0.77) }
	85% { @include smolder-glow(0.04) }
	90% { @include smolder-glow(0.08) }
	95% { @include smolder-glow(0.19) }
	100% { @include smolder-glow(0.5) }
}

.pui-smoldering {
	animation: smolder 4s linear infinte;
}
