@use "common" as *;

.pui-surface {
	@extend .pui-shadow;

	background-color: var(--pui-color-surface);
}

.pui-card {
	@extend .pui-surface;
	
	display: inline-block;
	margin: auto;
	padding: 15px 20px;
}
