@import "https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&family=UnifrakturMaguntia&display=swap";

html {
	font-size: var(--pui-base-font-size);
	font-family: var(--pui-font-copy);
	color: var(--pui-color-text);
	background-color: var(--pui-color-background);
}
