:root {
	--pui-base-font-size: 1.2rem;

	--pui-font-heading: "UnifrakturMaguntia", serif;
	--pui-font-copy: "Alegreya", serif;

	--pui-color-text: #fcf1ef;
	--pui-color-background: #211716;
	--pui-color-surface: #351d1a;
	--pui-color-highlight: #820800;
	--pui-color-highlight-light: #cc3d3d;
	--pui-color-active: #f77b22;

	--pui-duration-hover: 250ms;
	--pui-duration-click: 80ms;
}
